/* Sección de servicios */
.services-container {
    display: flex;
    justify-content: center; /* Centra los elementos de los servicios */
}

.service {
    background-color: rgb(255, 221, 210); /* Fondo con opacidad */
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin: 65px;
    padding: 15px;
    width: 300px;
    transition: transform 0.3s, box-shadow 0.3s;
   
}

.service img {
    border-radius: 10px;
    width: 100%;
    height: auto;
}

.service h3 {
    margin: 10px 0 5px;
}

.service p {
    color: #555;
}

/* Efecto de hover en servicios */
.service:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Responsividad */
@media (max-width: 768px) {
    .services-container {
        flex-direction: column;
        align-items: center;
    }

    .service {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .menu {
        flex-direction: column;
        align-items: center; /* Centra el menú en pantallas pequeñas */
    }

    .menu li {
        margin: 10px 0;
    }
}
